In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import csv
from tqdm import tqdm
from datetime import datetime
import os
import pickle

In [39]:
df = pd.read_csv('../data/relation.csv', sep='|', header=None)
df = df.drop(labels=[3], axis=1)

In [45]:
df_nonjabatan = df[df[1].isin(['sekretaris perusahaan', 'direktur', 'komisaris', 'komite audit', 'pemegang saham'])]

In [41]:
temp = df_nonjabatan[2].value_counts()
temp.groupby(temp).count()

2
1     7385
2     1155
3      189
4       66
5       21
6       11
7        5
8        3
13       2
Name: 2, dtype: int64

In [42]:
len(temp)

8837

In [51]:
df_nonjabatan = df_nonjabatan.drop(labels=[1], axis=1)

In [56]:
df_nonjabatan_nondup = df_nonjabatan.drop_duplicates()
df_nonjabatan_nondup

          0                                2
4      AALI    mario casimirus surung gultom
5      AALI                          santosa
7      AALI  muhammad hadi sugeng wahyudiono
8      AALI                   rujito purnomo
9      AALI                       nico tahir
...     ...                              ...
13744  SQBB                      adji baroto
13745  SQBB                     lufti julian
13746  SQBB          sylvia veronica siregar
13747  SQBB                  agus soewandono
13748  SQBB   taisho pharmaceutical co.,ltd.

[9832 rows x 2 columns]

In [58]:
temp = df_nonjabatan_nondup[2].value_counts()
temp.groupby(temp).count()

2
1     8116
2      542
3      128
4       29
5       15
6        4
7        1
13       2
Name: 2, dtype: int64